/* HTML ************************************ */
html, body { background: #BADEB7; width:100%;}
html, body, #sider { height: 100%; }
/* STRUCTURE *******************************  /

  #SIDER             #MAIN
+--------+---------------------------+
|        |  .title            .social|   #header
| #logo  | - - - - - - - - - - - - - +
|- - - - |                           |
| .menus |                           |
|- - - - |                           |
| #about |                           |
|        |        #content           |
|        |                           |   
|        |                           |
|        |                           |
|- - - - |                           |  
|#cpright|                           |
+--------+---------------------------+
<svg> is under <body>. ********************* */

/* SIDER *********************************** */
#logo {
    top: 0%; 
    height: 12em;
    padding-left: .5em;
    background: rgba(5,5,5,0.80);
    color: #fff;
    font: 1em Helvetica, Arial, sans-serif;
    text-decoration: none; }
#logo p {
    padding-left: 15%; 
    position:absolute; 
    bottom:0% }

.menus {
    border-bottom: 2px solid #FFF;
    height: 2em;
    bottom: 0.2em; }
.menu-1 { background-color: #51DBE2; }
.menu-2 { background-color: #92D5DC; }
.menu-3 { background-color: #FCF1B9; }
.menu-4 { background-color: #F4768B; }
.menu-5 { background-color: #EF4258; }
.menu-6 { background-color: #BADEB7; }

#about {
    height: 12em;
    padding: .5em;
    font: .9em Helvetica, Arial, sans-serif; }

#about .hidden { visibility: none; }

#cpright {
    position: absolute;
    bottom: 0%; 
    height: 3em;
    padding-left: .5em;
    background: rgba(5,5,5,0.80);
    color: #fff;
    font: .9em Helvetica, Light;
    text-decoration: none;}

/* MAIN > HEADER ******************************** */
.title {
	font-size: 3em;
	margin-left: 1em;
	margin-top:.5em;
	margin-bottom:.5em;
}
.social .twitter{background:url('../img/icon-twitter.svg') no-repeat 0 1px;background-size:20px}
.social .facebook{background:url('../img/icon-facebook.svg') no-repeat 0 1px;background-size:20px}
.social .github{background:url('../img/icon-github.svg') no-repeat 0 1px;background-size:20px}
.social .linkedin{background:url('../img/icon-linkedin.svg') no-repeat 0 1px;background-size:20px}
.social a {
	font-size: 0;
	color: transparent;
	display: block;
	height: 21px;
	width: 20px;
	margin-left: 10px;
	margin-top:5px;
	margin-bottom:5px
	float:none; 
	display:inline-block;
	-webkit-transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	-ms-transition: background-position .3s ease;
	transition: background-position .3s ease;
	-webkit-transition-delay: .1s; } 
.social a:hover{ background-position:0 -35px;border-bottom:none}
/* MAIN > CONTENT ******************************** */

/* SVG ************************************* */
svg { position: absolute; width: 100%; height: 100%;} /* = body's background */
circle {
    stroke: none;
    fill: none;
    pointer-events: none;}

line {
    pointer-events: none;
    stroke: #EFEDF5;
    stroke-width: 2px;
    opacity: .4;}
path{
    stroke: #EFEDF5;
    stroke-width: 2px;
    stroke-opacity: .05;}
